@import '../pages';
@import '../../shared/styles/variables';

mat-card:not(:last-child) {
  margin-bottom: $default-padding__thin;
}

.standings-card {
  &__content {
    overflow-x: auto;
  }
}

// TODO: remove after season starts
.standings-container {
  width: 100vw;
  height: calc(100vh - #{$toolbar-height-lg} - #{$toolbar-height-lg});
  text-align: center;

  &.xs {
    height: calc(100vh - #{$toolbar-height-sm} - #{$toolbar-height-sm});
  }
}