@import '../../shared/styles/variables';

mat-table {
  min-width: 540px;
}
// Right align stats for a better viewing experience
mat-cell.right, mat-header-cell.right {
  justify-content: flex-end;
}
mat-cell.left, mat-header-cell.left {
  justify-content: flex-start;
}

mat-cell.negative {
  color: $status-danger;
}
mat-cell.positive {
  color: $status-success;
}

// Column sizes
.mat-column {
  &-name {
    min-width: 125px;
  }
  &-rank, &-wins, &-losses, &-ties {
    max-width: 75px;
  }
}