<div class="game">
  <div class="game__away-team team">
    <div class="team__label">away</div>
    <a [routerLink]="'/teams/' + awayId" class="team__name">{{away}}</a>
  </div>
  <div *ngIf="!final" class="game__time-location">
    <div class="game__time">{{time}}</div>
    <div class="game__location">{{field}} Field</div>
  </div>
  <div *ngIf="final" class="game__time-location" fxLayoutAlign="center center" fxLayoutGap="27%">
    <div class="game__score game__score--away" [ngClass]="{'winner': (awayScore - homeScore) > 0}">{{awayScore}}</div>
    <div class="game__score game__score--home" [ngClass]="{'winner': (homeScore - awayScore) > 0}">{{homeScore}}</div>
  </div>
  <div class="game__result"></div>
  <div class="game__home-team team">
      <div class="team__label">home</div>
      <a [routerLink]="'/teams/' + homeId" class="team__name">{{home}}</a>
    </div>
</div>