@import '../../shared/styles/variables';

$border-color: #ECEACF;
$footer-bg-color: rgba(255,255,255,0.8);
$transparent-texture-color: rgba(255,255,255,0.00);
$avatar-width: 30%;
$name-width: 60%;
$aspect: (3.5/2.5);
$footer-height: 54px;

:host {
  background-color: rgba(255,255,255,0.5);
  cursor: pointer;
}

.dark {
  color: #000000;
}

.light {
  color: #FFFFFF;
}

.team-card {
  box-sizing: border-box;

  &__name {
    font-weight: 400;
    font-size: 1.1em;
    letter-spacing: 0;
    
    &.xs {
      font-size: 1.0em;
    }
  }
  &__league {
    font-weight: 300;
    font-size: 0.8em;
    letter-spacing: 0;
  }
  &__texture {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    @include cardboard-texture(rgba(255,255,255,0));
    opacity: 0.5;
    z-index: 1;
    pointer-events: none;
  }
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 8px solid $border-color;
    padding: $default-padding__thin;
  }

  &__avatar {
    position: absolute;
    right: $default-padding__thin;
    bottom: $footer-height + $default-padding;
    height: $avatar-width;
    width: calc(#{$avatar-width} * #{$aspect}); // must match the card's aspect ratio
    border-radius: 9999px;
    background-color: #333;
    background-size: cover;
  }
  &__captain {
    position: absolute;
    left: $default-padding__thin;
    bottom: $footer-height + $default-padding__thin;
    width: $name-width;
    font-size: 0.6rem;
    font-weight: 300;
  }
  &__captain-name {
    margin-bottom: 0;
    
    &--first {
      font-weight: 300;
    }
    &--last {
      font-weight: 400;
    }
  }
  &__captain-subtitle {
    margin-top: 0.2em;
    margin-bottom: 0;
  }
}
