@import '../../shared/styles/variables';

bunt-team-card {
  display: block;
  height: 100%;
  width: 100%;
}

.teams-in-league {
  margin-bottom: $default-padding;
}

.league-title:not(:first-of-type) {
  margin-top: 24px;
}