.fancy-title {
  &__container {
    width: 100vw;
  }

  &__banner {
    margin: 24px;
    padding: 16px 24px;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
  }

  &__text {
    margin: 0;
  }
}