@import '../../shared/styles/variables';

.app-header {
  position: absolute;
  color: #FFFFFF;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.08);
  @include cardboard-texture($vintage-blue);
  top: 0;
  z-index: 2;

  &__menu-button {
    position: absolute;
    left: 0;
  }

  &__page-title {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    display: flex;   
    justify-content: center;
    width: 100%;
    font-size: 1.4rem;
    @include vintage-text-shadow(#666666);
  }
}