<mat-toolbar class="date-selector mat-elevation-z4">
  <a mat-button class="date-button" *ngFor="let date of gameDates" [attr.href]="'/schedule#' + date">
    <span class="date-button__month">{{date | date: 'MMM'}}</span>
    <span class="date-button__date">{{date | date: 'dd'}}</span>
  </a>
</mat-toolbar>
<div class="games-date" *ngFor="let date of gameDates" [attr.id]="date">
  <h3 class="games-date__header">{{date | date: 'E, MMM d'}}</h3>
  <bunt-scheduled-game-card *ngFor="let game of scheduleByDate[date]" [game]="game"></bunt-scheduled-game-card>
</div>
