@import '../../shared/styles/variables';

:host {
  padding-top: 56px;
}
bunt-scheduled-game-card:not(:last-child) {
  display: block;
  padding-bottom: $default-padding__thin;
}

.games-date {
  margin-top: 30px;
  
  &__header {
    text-align: center;
  }
}

.date-selector {
  position: fixed;
  bottom: $toolbar-height-lg;
  background-color: blue;
  color: white;
  overflow-y: scroll;

  &--xs {
    bottom: $toolbar-height-sm;
  }
}
.date-button {
  height: 100%;
  width: 80px;
  line-height: 1rem;
  &__label {

  }
  &__month {
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }
  &__date {
    font-size: 1.2rem;
    font-weight: 200;
  }
}