@import '../../shared/styles/variables';

// Accounts for top and bottom toobar heights
@mixin padding-with-toolbars($toolbar-height, $padding) {
  padding: calc(#{$padding} + #{$toolbar-height}) 0;
}

.content-container {
  background-color: rgba(250,250,250,1);
  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
  @include padding-with-toolbars($toolbar-height-lg, $default-padding__thin);

  &.xs {
    @include padding-with-toolbars($toolbar-height-sm, $default-padding__thin);
  }
}

.mat-drawer-backdrop {
  background-color: rgba(0,0,0,.22);
}