<mat-toolbar>
  <div class="container">
    <button routerLink="/standings" mat-button class="toolbar-button">
      <mat-icon>swap_vert</mat-icon>
      <div class="toolbar-button__text">Standings</div>
    </button>
    <button routerLink="/teams" mat-button class="toolbar-button">
      <mat-icon>people</mat-icon>
      <div class="toolbar-button__text">Teams</div>
    </button>
    <button routerLink="/schedule" mat-button class="toolbar-button">
      <mat-icon>insert_invitation</mat-icon>
      <div class="toolbar-button__text">Schedule</div>
    </button>
  </div>
</mat-toolbar>