@import '../../shared/styles/variables';

// Right align stats for a better viewing experience
mat-cell.right, mat-header-cell.right {
  justify-content: flex-end;
}
mat-cell.left, mat-header-cell.left {
  justify-content: flex-start;
}

mat-cell.negative {
  color: $status-danger;
}
mat-cell.positive {
  color: $status-success;
}