@import '../../shared/styles/variables';

.app-header {
  position: absolute;
  top: 0;
  z-index: 2;
  background-color: $america-red;

  &__menu-button {
    position: absolute;
    left: 0;
  }

  &__page-title {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    color: white;
    display: flex;   
    justify-content: center;
    width: 100%;
    font-size: 1.2rem;
    @include vintage-text-shadow($america-blue);
  }
}