<mat-toolbar>
  <div class="container">
    <button routerLink="/standings" routerLinkActive="active" mat-button class="toolbar-button">
      <mat-icon>swap_vert</mat-icon>
      <div class="toolbar-button__text">Standings</div>
    </button>
    <button routerLink="/teams" routerLinkActive="active" mat-button class="toolbar-button">
      <mat-icon>people_outline</mat-icon>
      <div class="toolbar-button__text">Teams</div>
    </button>
    <button routerLink="/schedule" routerLinkActive="active" mat-button class="toolbar-button">
      <mat-icon>access_timer</mat-icon>
      <div class="toolbar-button__text">Schedule</div>
    </button>
  </div>
</mat-toolbar>