// Colors
$grey-bg: #E4E4E4;
$america-blue: rgba(0,40,104,1);
$america-red: rgba(191,10,48,1);
$bunt-teal: #0DB196;
$status-danger: #BF1029;
$status-success: #15A84B;

// Typography
$type-color: #333333;

// Layout
$default-padding__thin: 8px;
$default-padding: 16px;
$default-padding__thick: 24px;
$toolbar-height-lg: 64px;
$toolbar-height-sm: 56px;

// Mixins
@mixin cardboard-texture($color) {
  background-color: $color;
  background-image: url(../../../assets/cardboard.png);
}

@mixin vintage-text-shadow($color) {
  text-shadow: 1px 1px $color, 2px 2px $color, 3px 3px $color;
}